* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    border-radius: 8px;
    border: none;
    background: #E55473;
    color: white;
    padding: 20px 43px;
    font-size: 20px;
    margin-top: 32px;
}

.banner-container {
    display: flex;
    background: #E554731A;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 165px;

}

.banner-content {
    padding-left: 220px;
}

.banner-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

/* main part */
/* feature */
.feature-content {
    text-align: center;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 594px;
    margin: auto;
    margin-bottom: 28px;
    margin-top: 28px;
}

.feature-photo-container {
    display: flex;
    gap: 15px;
    width: 80%;
    height: 538px;
    justify-content: space-around;
    margin: auto;
    

}

.photo {
    align-items: end;
}

.ficon {
    border-radius: 300px 300px 0px 0px;

    padding-top: 30%;
}

.photo-title {

    border-bottom: 2px solid;
    height: 35px;
    width: 200px;
    text-align: center;
    margin: auto;
}

.feature {
    height: 100vh;
    padding: 150px 220px;
}

/* supoort */
.suport-container {

    width: 80%;
    height: 320px;
    /* border: 2px solid; */
    border: none;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-around;
    /* margin: 100px 220px; */
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.icon {
    width: 80px;
    height: 88px;


}

.deal-container {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    border: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;

}
.deal-photo{
    width: 40%;
    /* padding: 100px 400px 100px 120px;  */

}
.deal-content{
    text-align: center;
    
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
width: 50%;
margin: auto;

font-size: 18px;
}
.deal-title {
    margin-bottom: 24px;
}
/* social link */
.instra-information{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 48px;
}
 .instra-description{ 
    color: rgba(39, 39, 39, 0.60);

font-size: 18px;
font-weight: 400;
width: 594px;
margin: auto;
} 
.instra-tilte{
    margin-bottom: 24px;
}
.social-photo{
    width: 100%;  
}
.social-photo-container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 10px;
    
}
.id-container{
    display: flex;
    text-align: center;
    align-items: center;
    /* background-image: url('/Rectangle\ 9.png'); */
    
    background-repeat: no-repeat;
    background-size: cover;
   
}
.input-deal{
 background-image: url('../Flower Asset/Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
    margin: 128px 200px;
    padding-top:122px ;
    background-repeat: no repeat;
    background-size: cover;
    
}
.email{
    width: 500px;
height: 20px;
}
.id-des{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;

}
.footer{
    background: #111010;
    width:100%;
    height: 449px;
    color: white;
    text-align: center;
    


    
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    width: 50%;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    margin: auto;

   
}
.footerc-container{
    display: flex;
    /* align-items: center; */
}
.footer-title{
    margin-top: 100px;
}
.copyritgh{
    margin-top: 10px;
}
.service-container{
    margin-top: 128px;
    background: rgba(229, 84, 115, 0.05)
}
.services-title{
    border: 3px solid gray;
    border-radius: 5px 0px 5px 5px;
    box-shadow: 3px 3px 5px;
    color: #E55473;
}